[submodule "eve_rl"]
	path = eve_rl
	url = https://github.com/WeiyuanD/eve_rl.git
	branch = main
[submodule "eve_bench"]
	path = eve_bench
	url = https://github.com/WeiyuanD/eve_bench.git
	branch = main
[submodule "eve"]
	path = eve
	url = https://github.com/WeiyuanD/eve.git
	branch = main
